# Web framework
fastapi==0.111.0
uvicorn[standard]==0.30.0
pydantic==2.7.0
python-dotenv==1.0.1

# Route optimization
ortools==9.10.4067
numpy==1.26.4

# ML
scikit-learn==1.4.2
lightgbm==4.3.0
pandas==2.2.2
joblib==1.4.2

# HTTP client (untuk panggil AI API eksternal)
httpx==0.27.0
